html, body{
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-canvas{
    height: 100%;
    width: 75%;
    float: right;
}

#directions{
    height: 100%;
    width: 25%;
    float: left;
    overflow-y: scroll;
    display: inline-block;
}